.yellow {
	background-color: yellow;
}

.aquamarine {
	background-color: aquamarine;
}

.burlywood {
	background-color: burlywood;
}

.bisque {
	background-color: bisque;
}

.img-hidden {
	max-height: 300px;
	overflow: hidden;
}

.container-m {
	margin-top: 80px;
}

.footer{
	background-color: #f8f9fa;
	text-align: center;
	padding: 1rem;
}